html {
	padding: 50px;
}

.roundRect1 {
	/*background-color: #10DEC5;*/
	background: #e9d362;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	padding: 10px;
	width: 18%;
	height: 300px;
}

.roundRect2 {
	/*background-color: #DE603F;*/
	background: #50C9C3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	padding: 5px;
	width: 95%;
	height: 95%;
}

.title {
	background-color: #4AD715;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 10%;
	padding: 2px;
}

.left-title {
	background-color: #152DD7;
	position: relative;
	float: left;
	width: 5%;
	height: 100%;
	margin: 0px;
}

.center-title {
	font: 20px Bold;
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

.image-block {
	/*background-color: yellow;*/
	background-color: white;
	width: 90%;
	height: 40%;
	/*border: 3px solid black;*/
}

.image1 {
}

.image2 {
	width: 25%;
	height: 20%;
	margin: 2%;
}

.rect1 {
	background-color: green;
	position: relative;
}

.rect2 {
	background-color: pink;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid green;
	position: relative;
	float: left;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
	position: relative;
	float: left;
}

.rectangle {
	position: relative;
	float: left;
	width: 90px;
	height: 50px;
	margin: 4px;
	background-color: grey;
	text-align: center;
	padding: 0px;
	font: 25px Bold;
}

